USE [master]
GO
/****** Object:  Database [ALMACEN]    Script Date: 10/24/2016 05:55:38 ******/
CREATE DATABASE [ALMACEN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALMACEN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\ALMACEN.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ALMACEN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLSERVER\MSSQL\DATA\ALMACEN_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALMACEN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALMACEN]
GO
/****** Object:  StoredProcedure [dbo].[PA_CargarProveedores]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PA_CargarProveedores]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_PROV AS 'Id', NOMBRE AS 'Nombre', ESTADO AS 'Estado' FROM PROVEEDOR
END

GO
/****** Object:  StoredProcedure [dbo].[PA_ConsultarOrdenCompraXid]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PA_ConsultarOrdenCompraXid]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ORD.ID_ORD AS 'Id', CONVERT(DATE, ORD.FECHA) AS 'Fecha', ORD.VALORTOTAL AS 'Valor total', ORD.CANTIDADBIENES AS 'Cantidad bienes',
	PRO.NOMBRE AS 'Proveedor', ORD.ESTADO AS 'Estado'
	FROM ORDENCOMPRA AS ORD INNER JOIN PROVEEDOR AS PRO ON ORD.ID_ORD = PRO.ID_PROV
	WHERE ID_ORD = @id
END

GO
/****** Object:  StoredProcedure [dbo].[PA_GenerarConsecutivo]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PA_GenerarConsecutivo]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @VARIABLE INT;
    -- Insert statements for procedure here
	SET @VARIABLE = (SELECT MAX(NROENTRADA) FROM ENTRADA);

	IF(@VARIABLE IS NULL)
	BEGIN
		SET @VARIABLE = 1;
	END
	ELSE
	BEGIN
		SET @VARIABLE = SUM(@VARIABLE + 1);
	END
	
	SELECT @VARIABLE AS 'CONSECUTIVO';
END

GO
/****** Object:  StoredProcedure [dbo].[PA_ListarOrdenCompraXproveedor]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PA_ListarOrdenCompraXproveedor]
	-- Add the parameters for the stored procedure here
	@iIdProveedor int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_ORD AS 'ID', CONVERT(VARCHAR(15), ID_ORD) AS 'COLUMN_NAME' FROM ORDENCOMPRA
	WHERE IDPROVEDOR = @iIdProveedor
END

GO
/****** Object:  StoredProcedure [dbo].[PA_ListarProveedores]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[PA_ListarProveedores]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT ID_PROV AS 'ID', NOMBRE AS 'COLUMN_NAME' FROM PROVEEDOR
END

GO
/****** Object:  Table [dbo].[BIENES]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIENES](
	[ID_BIE] [int] IDENTITY(1,1) NOT NULL,
	[IDPROV] [int] NULL,
	[NOMBRE] [varchar](100) NULL,
	[PRECIO] [money] NULL,
	[TIPO] [varchar](100) NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [ID_BIE] PRIMARY KEY CLUSTERED 
(
	[ID_BIE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENTRADA]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADA](
	[NROENTRADA] [int] NOT NULL,
	[FECHA] [datetime] NULL,
	[IDFACTURA] [int] NULL,
	[IDPROVEEDOR] [int] NULL,
	[TOTALBIENES] [int] NULL,
	[VALORTOTAL] [money] NULL,
 CONSTRAINT [NROENTRADA] PRIMARY KEY CLUSTERED 
(
	[NROENTRADA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENTRADADET]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRADADET](
	[IDENTRDT] [int] IDENTITY(1,1) NOT NULL,
	[IDENTRADT] [int] NULL,
	[IDFACTUDT] [int] NULL,
 CONSTRAINT [IDENTRDT] PRIMARY KEY CLUSTERED 
(
	[IDENTRDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_EST] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [ID_EST] PRIMARY KEY CLUSTERED 
(
	[ID_EST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURA]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACTURA](
	[ID_FACT] [int] NOT NULL,
	[FECHA] [datetime] NULL,
	[IDPROVEDOR] [int] NULL,
	[IDORDCP] [int] NULL,
	[VALORTOTAL] [money] NULL,
	[CANTIDADBIENES] [int] NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [ID_FACT] PRIMARY KEY CLUSTERED 
(
	[ID_FACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FACTURADETALLE]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURADETALLE](
	[ID_FACTDT] [int] IDENTITY(1,1) NOT NULL,
	[ID_FACTD] [int] NULL,
	[ID_BIED] [int] NULL,
 CONSTRAINT [ID_FACTDT] PRIMARY KEY CLUSTERED 
(
	[ID_FACTDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDENCOMPRA]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ORDENCOMPRA](
	[ID_ORD] [int] IDENTITY(1,1) NOT NULL,
	[FECHA] [datetime] NULL,
	[IDPROVEDOR] [int] NULL,
	[VALORTOTAL] [money] NULL,
	[CANTIDADBIENES] [int] NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [ID_ORD] PRIMARY KEY CLUSTERED 
(
	[ID_ORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ORDENCOMPRADET]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENCOMPRADET](
	[ID_ORDDT] [int] IDENTITY(1,1) NOT NULL,
	[ID_ORDCP] [int] NULL,
	[ID_BIECP] [int] NULL,
 CONSTRAINT [ID_ORDDT] PRIMARY KEY CLUSTERED 
(
	[ID_ORDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 10/24/2016 05:55:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROV] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [ID_PROV] PRIMARY KEY CLUSTERED 
(
	[ID_PROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BIENES] ON 

INSERT [dbo].[BIENES] ([ID_BIE], [IDPROV], [NOMBRE], [PRECIO], [TIPO], [ESTADO]) VALUES (1, 1, N'Paquete papel blanco carta', 9000.0000, N'Fabrica', N'Activo')
INSERT [dbo].[BIENES] ([ID_BIE], [IDPROV], [NOMBRE], [PRECIO], [TIPO], [ESTADO]) VALUES (2, 1, N'Paquete papel blanco oficio', 10000.0000, N'Fabrica', N'Activo')
INSERT [dbo].[BIENES] ([ID_BIE], [IDPROV], [NOMBRE], [PRECIO], [TIPO], [ESTADO]) VALUES (3, 1, N'Paquete lapiz B2 x 12', 15000.0000, N'Fabrica', N'Activo')
SET IDENTITY_INSERT [dbo].[BIENES] OFF
SET IDENTITY_INSERT [dbo].[ESTADO] ON 

INSERT [dbo].[ESTADO] ([ID_EST], [NOMBRE], [ESTADO]) VALUES (1, N'Aprovada', N'Activo')
INSERT [dbo].[ESTADO] ([ID_EST], [NOMBRE], [ESTADO]) VALUES (2, N'Cancelada', N'Activo')
INSERT [dbo].[ESTADO] ([ID_EST], [NOMBRE], [ESTADO]) VALUES (3, N'Activa', N'Activo')
SET IDENTITY_INSERT [dbo].[ESTADO] OFF
SET IDENTITY_INSERT [dbo].[ORDENCOMPRA] ON 

INSERT [dbo].[ORDENCOMPRA] ([ID_ORD], [FECHA], [IDPROVEDOR], [VALORTOTAL], [CANTIDADBIENES], [ESTADO]) VALUES (1, CAST(0x0000A6A8010EC929 AS DateTime), 1, 50000.0000, 5, N'ACTIVA')
INSERT [dbo].[ORDENCOMPRA] ([ID_ORD], [FECHA], [IDPROVEDOR], [VALORTOTAL], [CANTIDADBIENES], [ESTADO]) VALUES (2, CAST(0x0000A6A8010EDAA6 AS DateTime), 2, 10000.0000, 2, N'ACTIVA')
SET IDENTITY_INSERT [dbo].[ORDENCOMPRA] OFF
SET IDENTITY_INSERT [dbo].[ORDENCOMPRADET] ON 

INSERT [dbo].[ORDENCOMPRADET] ([ID_ORDDT], [ID_ORDCP], [ID_BIECP]) VALUES (1, 1, 1)
INSERT [dbo].[ORDENCOMPRADET] ([ID_ORDDT], [ID_ORDCP], [ID_BIECP]) VALUES (2, 1, 2)
INSERT [dbo].[ORDENCOMPRADET] ([ID_ORDDT], [ID_ORDCP], [ID_BIECP]) VALUES (3, 2, 4)
SET IDENTITY_INSERT [dbo].[ORDENCOMPRADET] OFF
SET IDENTITY_INSERT [dbo].[PROVEEDOR] ON 

INSERT [dbo].[PROVEEDOR] ([ID_PROV], [NOMBRE], [ESTADO]) VALUES (1, N'Papeleria GDO', N'Activo')
INSERT [dbo].[PROVEEDOR] ([ID_PROV], [NOMBRE], [ESTADO]) VALUES (2, N'Muebles la 56', N'Activo')
INSERT [dbo].[PROVEEDOR] ([ID_PROV], [NOMBRE], [ESTADO]) VALUES (3, N'Fabrica HDP', N'Activo')
SET IDENTITY_INSERT [dbo].[PROVEEDOR] OFF
ALTER TABLE [dbo].[BIENES]  WITH CHECK ADD  CONSTRAINT [IDPROV] FOREIGN KEY([IDPROV])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROV])
GO
ALTER TABLE [dbo].[BIENES] CHECK CONSTRAINT [IDPROV]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [IDFACTURA] FOREIGN KEY([IDFACTURA])
REFERENCES [dbo].[FACTURA] ([ID_FACT])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [IDFACTURA]
GO
ALTER TABLE [dbo].[ENTRADA]  WITH CHECK ADD  CONSTRAINT [IDPROVEEDOR] FOREIGN KEY([IDPROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROV])
GO
ALTER TABLE [dbo].[ENTRADA] CHECK CONSTRAINT [IDPROVEEDOR]
GO
ALTER TABLE [dbo].[ENTRADADET]  WITH CHECK ADD  CONSTRAINT [IDENTRADT] FOREIGN KEY([IDENTRADT])
REFERENCES [dbo].[ENTRADA] ([NROENTRADA])
GO
ALTER TABLE [dbo].[ENTRADADET] CHECK CONSTRAINT [IDENTRADT]
GO
ALTER TABLE [dbo].[ENTRADADET]  WITH CHECK ADD  CONSTRAINT [IDFACTUDT] FOREIGN KEY([IDFACTUDT])
REFERENCES [dbo].[FACTURA] ([ID_FACT])
GO
ALTER TABLE [dbo].[ENTRADADET] CHECK CONSTRAINT [IDFACTUDT]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [IDORDCP] FOREIGN KEY([IDORDCP])
REFERENCES [dbo].[ORDENCOMPRA] ([ID_ORD])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [IDORDCP]
GO
ALTER TABLE [dbo].[FACTURA]  WITH CHECK ADD  CONSTRAINT [IDPROVEDOR] FOREIGN KEY([IDPROVEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROV])
GO
ALTER TABLE [dbo].[FACTURA] CHECK CONSTRAINT [IDPROVEDOR]
GO
ALTER TABLE [dbo].[FACTURADETALLE]  WITH CHECK ADD  CONSTRAINT [ID_BIED] FOREIGN KEY([ID_BIED])
REFERENCES [dbo].[BIENES] ([ID_BIE])
GO
ALTER TABLE [dbo].[FACTURADETALLE] CHECK CONSTRAINT [ID_BIED]
GO
ALTER TABLE [dbo].[FACTURADETALLE]  WITH CHECK ADD  CONSTRAINT [ID_FACTD] FOREIGN KEY([ID_FACTD])
REFERENCES [dbo].[FACTURA] ([ID_FACT])
GO
ALTER TABLE [dbo].[FACTURADETALLE] CHECK CONSTRAINT [ID_FACTD]
GO
ALTER TABLE [dbo].[ORDENCOMPRADET]  WITH CHECK ADD  CONSTRAINT [ID_BIECP] FOREIGN KEY([ID_BIECP])
REFERENCES [dbo].[BIENES] ([ID_BIE])
GO
ALTER TABLE [dbo].[ORDENCOMPRADET] CHECK CONSTRAINT [ID_BIECP]
GO
ALTER TABLE [dbo].[ORDENCOMPRADET]  WITH CHECK ADD  CONSTRAINT [ID_ORDCP] FOREIGN KEY([ID_ORDCP])
REFERENCES [dbo].[ORDENCOMPRA] ([ID_ORD])
GO
ALTER TABLE [dbo].[ORDENCOMPRADET] CHECK CONSTRAINT [ID_ORDCP]
GO
USE [master]
GO
